<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    margin: 60px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  p#reset {
    margin:0;
    height: 16px;
  }

  .error{
    background: #f44336;
    padding: 10px;
    border-radius: 6px;
    color: white;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="http://mitsi.ovh/static/img/logo.png" />
  <span>Angular Dropwizard back</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ title }} !</span>
    <p id="reset" (click)="resetContest()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z">
        </path>
      </svg>
    </p>

  </div>

  <!-- Resources -->  
  <div *ngIf="error" class="error"> {{error}} </div>
  <h2>Add a player</h2>
  <user-form buttonLabel="Add user" [callback]=createUser></user-form>
  <h2>Get a player</h2>
  <user-form buttonLabel="Search user" [callback]=getUser></user-form>
  <p *ngIf="userInfo != undefined">Player {{userInfo!.pseudo}} is ranked {{userInfo!.rank}} with {{userInfo!.points}} points.</p>
  <h2>Update a player</h2>
  <user-form buttonLabel="Update user" [showUpdate]=true [callback]=updateUser></user-form>
  <h2>Players</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Rank</th>
        <th scope="col">Pseudo</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;index as indexOfelement;">
        <th scope="row">{{indexOfelement+1}}</th>
        <td>{{user.rank}}</td>
        <td>{{user.pseudo}}</td>
        <td>{{user.points}}</td>
      </tr>
      </tbody>
      </table>
</div>