<form #userForm="ngForm">
    <div class="form-group">
        <label for="pseudo">pseudo</label>
        <input class="form-control" id="pseudo" [(ngModel)]="model.pseudo" name="pseudo" required />
        <div *ngIf="showUpdate">
            <br />
            <label for="points">points</label>
            <input class="form-control" id="points" [(ngModel)]="model.points" type="number" name="points" required />
        </div>
        <button type="button" class="btn btn-default" (click)="onClick()">{{buttonLabel}}</button>
    </div>
</form>